<EditForm Model="Model" OnValidSubmit="Start">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    
    <table>
        <tr>
            <td style="text-align: right">
                Command:
            </td>
            <td style="width:95%">
                <InputText id="Command" @bind-Value="Model.Command"  style="width:100%"/>
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                Arguments:
            </td>
            <td style="width:95%">
                <InputText id="Arguments" @bind-Value="Model.Arguments"  style="width:100%"/>
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                Working&nbsp;Directory:
            </td>
            <td style="width:95%">
                <InputText id="WorkingDir" @bind-Value="Model.WorkingDir" style="width:100%"/>
            </td>
        </tr>
    </table>
    
    @if (!_isRunning)
    {
        <button type="submit" class="btn btn-primary mt-3" disabled="@_isRunning">Start</button>
    }
</EditForm>

@if (_isRunning && !_isStopping)
{
    <button class="btn btn-danger mt-3 ml-3" @onclick="InjectControlC">Control-C</button>
    <button class="btn btn-danger mt-3" @onclick="Kill">Kill Process</button>
}


<pre id="output" class="mt-5" style="border:1px solid;height: 50vh; overflow-y: scroll; overflow-x: scroll; max-width:80vw">
    <code>
        @_output
    </code>
</pre>