<MudButton Variant="ButtonVariant" Color="ButtonColor" Disabled="IsDisabled" OnClick="@OnClick">
    <MudProgressCircular Color="@SpinnerColor" Size="Size.Small" Indeterminate="true"/>
    <span class="ml-2">@Label</span>
</MudButton>